*{
    margin: 0px;
    padding: 20px;
    box-sizing: border-box;
    color: #fcfdfd;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    text-align: center;
}

:root{
    --Bluee : #0069ff;
    --cyann : #67a4ff;
    --greyy : #a5a6ab;
}

.container{
    background-color:#e2f1ff;
    display: grid;
    padding: 20px;
    margin: 20px;
    grid-gap: 20px 10px;
    grid-template-areas: "header header header header header header"
                         "nav main main main main aside"
                         "footer footer footer footer footer footer";
    grid-template-rows: 89px 384px 89px;
    width : 75%;
}

header{
    grid-area: header;
    background-color: var(--Bluee);
    display: flex;
    align-items: center;
    justify-content: center; 
   
}

nav{
    grid-area: nav;
    background-color: var(--cyann);
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    grid-area: main;
    background-color: var(--greyy);
    display: flex;
    align-items: center;
    justify-content: center;
}

aside{
    grid-area: aside;
    background-color: var(--cyann);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    grid-area: footer;
    background-color: var(--Bluee);
    display: flex;
    align-items: center;
    justify-content: center;
}